@use './variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

.hero-section {
    background-color: $yellow;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.btn-donate {
    position: fixed;
    top: 0;
    right: 0;
    margin: 2rem;
    cursor: pointer;
    border: 0.1em solid $black;
    padding: 0.25em 0.5em;
    font-size: clamp(1rem, 2vw, 2rem);
    z-index: 1;
    background-color: $white;
}

.btn-webflow {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    cursor: pointer;
    border: 0.1em solid $black;
    padding: 3px;
    font-size: 16px;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: $white;
    font-weight: 600;
}

.hero-wrapper {
    margin-inline: auto;
    padding-inline: 10%;

    @media screen and (max-width: 480px) {
        padding-inline: 5%;
    }
}

.hero-main>div {
    flex: 0 1 40%;
}

.hero-main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 2rem;
}

.img-wrapper {
    position: relative;
    width: clamp(120px, 25vw, 300px);
    height: clamp(120px, 25vw, 300px);
    aspect-ratio: 1 / 1;
}

.animal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding-right: 2rem;
}

.title-text {
    flex: 1;
    font-size: clamp(2rem, 10vw, 5rem);
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 1em;
    padding-left: 2rem;

    @media screen and (max-width: 780px) {
        font-size: clamp(1.5rem, 6vw, 3rem);
        padding-left: 0;
    }

    @media screen and (max-width: 480px) {
        font-size: clamp(1.2rem, 5vw, 2rem);
        padding-left: 0;
    }
}

.subtitle-text {
    font-size: clamp(2rem, 5vw, 3rem);
    text-align: center;
    line-height: 1.5em;
    letter-spacing: 0.05em;

    @media screen and (max-width: 480px) {
        font-size: clamp(1rem, 3vw, 1.5rem);
    }
}

.social-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
    padding-inline: 10%;
}

.icon-social {
    width: clamp(2rem, 5vw, 3rem);
    height: auto;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(0.6);
        cursor: pointer;
    }

    @media screen and (max-width: 480px) {
        width: clamp(1.5rem, 4vw, 2rem);
    }
}

.arrow-bounce {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 30px;
        height: auto;
    }
}


.about-section {
    background-color: $white;
    padding-inline: 10%;
    margin-inline: auto;
    padding-block: 10vh;
}

.content-wrapper h2 {
    font-size: 4vw;
    font-weight: 700;
    line-height: 1.25em;

    @media screen and (max-width: 480px) {
        font-size: 7vw;
        margin-bottom: 1rem;
    }
}

.content-wrapper div {
    font-size: 2.5vw;
    line-height: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 1em;

    @media screen and (max-width: 780px) {
        font-size: 3vw;
    }

    @media screen and (max-width: 480px) {
        font-size: 4vw;
    }
}

.content-wrapper blockquote {
    border-left: 3px solid $pink;
    padding: 1rem;
    margin-left: 50px;
    font-style: italic;
    font-weight: 400;
    font-size: 2.5vw;
}

.content-wrapper .media-box {
    border: 6px solid $black;
}

.content-wrapper iframe {
    width: 100%;
    height: 800px;
    display: block;

    @media screen and (max-width: 1200px) {
        height: 600px;
    }

    @media screen and (max-width: 780px) {
        height: 300px;
    }

    @media screen and (max-width: 480px) {
        height: auto;
    }
}

.section3 {
    background-color: $blue;
    padding-inline: 10%;
    margin: 0 auto;
    padding-block: 10vh;
}

.container3 h2 {
    font-size: 4vw;
    font-weight: 700;
    line-height: 1.25em;
    color: $white;

    @media (max-width: 480px) {
        font-size: 7vw;
        margin-bottom: 1rem;
    }
}

.container3>div {
    font-size: 2.5vw;
    line-height: 1.5em;
    color: $white;
    margin-top: 2rem;

    @media (max-width: 780px) {
        font-size: 3vw;
    }

    @media (max-width: 480px) {
        font-size: 4vw;
    }
}

.project-wrap,
.project-wrap2,
.project-wrap3 {
    margin-block: 5vh;
}

.project-wrap {
    background-color: black;
}

.project-wrap2 {
    background-color: $green;
}

.project-wrap3 {
    background-color: $pink;
}

.project-item {
    border: 0.1em solid #fff;
    padding: 2rem 3rem;
    color: $white;
    transition: transform 0.3s ease;

    &:hover {
        transform: translate(20px, -10px);
        cursor: pointer;
    }
}

.project-title {
    font-size: 4vw;
    font-weight: 700;
    line-height: 1.5em;
    padding-bottom: 1rem;
}


.section4 {
    background-color: $yellow;
    padding-inline: 10%;
    margin-inline: auto;
    padding-block: 10vh;
}

.container4 h2 {
    font-size: 4vw;
    font-weight: 700;
    line-height: 1.25em;
    margin-bottom: 2rem;

    @media screen and (max-width: 480px) {
        font-size: 7vw;
        margin-bottom: 1rem;
    }
}

.container4>div {
    font-size: 3vw;
    line-height: 1.5em;

    @media screen and (max-width: 780px) {
        font-size: 3vw;
    }

    @media screen and (max-width: 480px) {
        font-size: 4vw;
    }
}

.help-wrap {
    margin-block: 5vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 780px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.help-bg {
    background-color: $white;
}

.help-item {
    border: 0.1em solid $black;
    padding: 2rem 1rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;

    &:hover {
        transform: translate(20px, -10px);
        cursor: pointer;
    }
}

.help-title {
    font-size: 1.5vw;
    line-height: 1.5em;
    padding-bottom: 1rem;
    color: $black;

    @media screen and (max-width: 780px) {
        font-size: 4vw;
    }
}

.apply-help {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    padding: 10px 16px;
    border: 3px solid $black;
    background-color: $pink;
    width: fit-content;
}

.apply-help img {
    height: 2vw;
    width: auto;
    margin-left: 1rem;
    transform: rotate(180deg);
}

.team-section {
    background-color: $white;
    padding: 10vh 10%;
}

.team-title {
    font-size: 4vw;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 2rem;

    @media screen and (max-width: 480px) {
        font-size: 7vw;
        margin-bottom: 1rem;
    }
}

.team-subtitle {
    font-size: 3vw;
    line-height: 1.5;

    @media screen and (max-width: 780px) {
        font-size: 3vw;
    }

    @media screen and (max-width: 480px) {
        font-size: 4vw;
    }
}

.member-name {
    font-size: 1.5vw;
    line-height: 1.5;

    @media screen and (max-width: 780px) {
        font-size: 3vw;
    }

    @media screen and (max-width: 480px) {
        font-size: 4vw;
    }
}

.member-role{
    font-size: 1vw;
    line-height: 1.5;

    @media screen and (max-width: 780px) {
        font-size: 2vw;
    }

    @media screen and (max-width: 480px) {
        font-size: 2vw;
    }
}

.team-grid {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(4, 1fr);

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 780px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 480px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card-content {
    background-color: $yellow;
    border: 0.1em solid $black;
    padding: 1rem;
    height: 100%;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(0.9);
        cursor: pointer;
    }
}

.member-photo {
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}


.support-section {
    background-color: $pink;
    padding-inline: 10%;
    margin-inline: auto;
    padding-block: 10vh;
}

.support-title {
    font-size: 5vw;
    font-weight: 700;
    line-height: 1.25em;
    margin-bottom: 2rem;

    @media screen and (max-width: 480px) {
        font-size: 5vw;
        margin-bottom: 1rem;
    }
}

.support-subtitle {
    font-size: 3vw;
    line-height: 1.5em;
    margin-bottom: 2rem;

    @media screen and (max-width: 780px) {
        font-size: 3vw;
    }

    @media screen and (max-width: 480px) {
        font-size: 4vw;
    }
}

.support-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 780px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 480px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.support-item {
    height: 100%;
    padding: 1rem;
    transition: transform 0.3s ease;
    text-align: center;
}

.support-image {
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}

.support-name {
    font-size: 1.5vw;
    line-height: 1.5em;

    @media screen and (max-width: 780px) {
        font-size: 3vw;
    }

    @media screen and (max-width: 480px) {
        font-size: 4vw;
    }
}

.support-role {
    font-size: 1.2vw;
    line-height: 1.5em;

    @media screen and (max-width: 780px) {
        font-size: 3vw;
    }

    @media screen and (max-width: 480px) {
        font-size: 4vw;
    }
}